body {
    font-family: Arial, sans-serif;
    background-color: #AED6F1 ;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 30px auto;
    padding: 30px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 10px;
    margin-top: 20px;
    font-weight: bold;
}

label[for="asistencia"] {
    text-align: left;
}

input[type="number"], [type="text"] {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input[type="submit"] {
    background-color: #5c6af0;
    color: #fff;
    border: none;
    padding: 12px 25px;
    border-radius: 3px;
    cursor: pointer;
}

.resultado {
    margin-top: 20px;
    text-align: left;
    font-size: 15px;
    display: block;
}

.btn-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn-container .button {
    text-decoration: none;
    color: #fff;
    background-color: #5c6af0;
    padding: 20px 40px;
    border-radius: 8px;
    text-align: center;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}